body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header, section, footer {
    padding: 20px;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
}

header h1 {
    margin: 0;
}

header p {
    margin: 10px 0 0;
}


#about img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

#about p {
    margin: 20px 120px;
    font-size: 17px;
    line-height: 22px;
    text-align: justify;
}


#skills ul {
    list-style: none;
    padding: 0;
}

#skills li {
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}


#projects .project {
    margin: 20px 0;
}

#projects img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

#projects p {
    margin: 20px 150px;
    font-size: 17px;
    line-height: 22px;
    text-align: justify;
}


#resume a {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}


#contact a {
    color: #333;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

footer p {
    margin: 0;
}
